# Python Data and Structures

1.What are data structures and Why are they important ?
- Data structures are ways to organize and store data efficiently. They are important because they optimize how we access and modify data, leading to faster and more memory-efficient programs.

2.Explain the difference between mutable and immutable data types with example.
- Mutable data types can be changed after they are created (e.g., lists [1, 2, 3]), while immutable data types cannot be changed after creation (e.g., strings "hello").

3.What are the main differences between lists and tuples in python ?
- The main differences are:

  Mutability: Lists are mutable (can be changed after creation), while tuples are immutable (cannot be changed).
  Syntax: Lists use [] square brackets, while tuples use () parentheses.
  Use Case: Lists are for collections that need modification; tuples are for fixed collections or when immutability is desired (e.g., dictionary keys, function arguments that shouldn't be altered).

4.Describe how dictionaries store data ?
- Python dictionaries store data as key-value pairs. Each unique key
  maps to a specific value. They are implemented using a hash table, which allows for very fast lookups, insertions, and deletions based on the keys. Keys must be immutable (e.g., strings, numbers, tuples), while values can be of any data type. Since Python 3.7, dictionaries maintain insertion order.  

5.Why might you use a set instead of a list in python ?
- You'd use a set instead of a list in Python when you need:

  1.Uniqueness: Sets automatically remove duplicate elements.
  2.Fast membership testing: Checking if an item exists in a set is generally much faster than in a list.
  3.No specific order: Sets are unordered collections.

6.What is a string in python and how is it different from a list ?  
- A string in Python is a sequence of characters, used for text. A list
  is a sequence of items of any type. The key differences are that strings are immutable (cannot be changed after creation) and specifically hold characters, while lists are mutable (can be changed) and can hold diverse data types.

7.How do tuples ensures data integrity in python ?  
- Tuples ensure data integrity in Python because they are immutable.
  Once created, their elements cannot be changed, added, or removed, preventing accidental modification of the data they hold.

8.What is a hash table and how does it relate to dictionaries in python ?
- A hash table is a data structure that maps keys to values using a
  "hash function" to quickly find the right location (index) in an array.

  Python dictionaries are implemented using hash tables. This means they use hashing to provide very fast average-case lookup, insertion, and deletion of key-value pairs.

9.Can lists contain different data types in python ?
- Yes, absolutely. Python lists can contain elements of different data
  types (e.g., integers, strings, floats, even other lists or objects) within the same list.

10.Explain why strings are immutable in python.
- Strings are immutable in Python because:

1.  *Data Integrity:* It prevents accidental modification, making code more predictable and easier to debug.
2.  *Hashability:* Immutable objects can have a constant hash value, allowing them to be used as keys in dictionaries and elements in sets for efficient lookup.
3.  *Performance Optimization:* Python can perform optimizations like string interning (reusing identical strings in memory) and safely cache hash values.
4.  *Thread Safety:* In multi-threaded environments, immutable strings don't need locks, as they can't be changed by different threads concurrently, avoiding data corruption.

11.Why advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries offer much faster lookups when you need to retrieve a
  value based on a specific key, rather than by its numerical position. They are ideal for representing key-value relationships and when data needs to be uniquely identified (e.g., a person's name mapping to their age).

12.Describe a scenario where using a tuple would be preferable over a list.
- You'd prefer a tuple over a list when representing a fixed collection
  of related items that should not change, like geographical coordinates (latitude, longitude) or a date (year, month, day).

13.How do sets handle duplicate values in python ?
- Sets automatically discard duplicate values, ensuring that each
  element in a set is unique. If you try to add an existing element, the set simply ignores it.

14.How does the "in" keyword work differently for lists and dictionaries ?
- For lists, the in keyword checks if an element's value exists     anywhere within the list (it performs a linear search, which can be slow for large lists).

  For dictionaries, in checks if a specific key exists among the dictionary's keys (it uses a highly efficient hash-based lookup, making it very fast).

15.Can you modify the elements of a tuple ? Explain why or why not.
- No, you cannot modify the elements of a tuple after it's created.
  This is because tuples are immutable, meaning their contents are fixed and unchangeable once defined.

16.What is a nested dictionary and give an example of its use case.
- A nested dictionary is a dictionary where the values are themselves
  dictionaries.

  Use case: Storing hierarchical data, like a database of users where each user has a dictionary of details (name, email, address), and the outer dictionary uses user IDs as keys.

17.Describe the time complexity of accessing elements in dictionary.
- The time complexity of accessing elements in a Python dictionary
  (ie., looking up a value using its key) is, on average, O(1) (constant time).

18.In what situations are lists preferred over dictionaries?
- When data naturally fits a sequence, where order and positional
  access are important, and duplicates are acceptable, a list is the preffered choice.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are designed for fast, direct access to values when we
  have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.
  We cannot retrieve items using integer indices like my_dict[0]. We must know the exact key to retrieve its associated value.
  Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists are for ordered collections where you want to retrieve "the Nth item," like List[1]. - while dictionaries are for unordered collections where you want to retrieve "the item named X. eg, my_dict = {'name': 'Sonu', 'age': 26, 'city': 'Nashik'} person_name = my_dict['name'] person_age = my_age['age']

In [1]:
#1.Write a code to create a string with your name and print it.
name = "Akshat Sharma"
print(name)

Akshat Sharma

In [2]:
#2.Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase.
string="hello"
uprString = string.upper()
print(uprString)

HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
String = "I like apple"
repString = String.replace('apple', 'orange')
print(repString)

I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numList= [1,2,3,4,5]
print(numList)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numList=[1, 2, 3, 4]
numList.append(10)
print(numList)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
nulList= [1, 2, 3, 4, 5]
nulList.remove(3)
print(nulList)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
alphList=['a', 'b', 'c', 'd']
print(alphList[1])

b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numList=[10, 20, 30, 40, 50]
print(numList[::-1])

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
fisrtTuple = (100,200,300)
print(fisrtTuple)

(100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colTuple = ('red', 'green', 'blue', 'yellow')
print(colTuple[-2])

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numTuple = (10, 20, 5, 15)
print(min(numTuple))

5

In [14]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
aniTuple = ('dog', 'cat', 'rabbit')
print(aniTuple.index('cat'))

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruTuple = ('Apple','mango','kiwi')
ifKiwi= 'kiwi' in fruTuple
print(ifKiwi)

True

In [16]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
alphSet = {'a','b','c'}
print(alphSet)

{'b', 'a', 'c'}

In [17]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
alphSet =  {1, 2, 3, 4, 5}
clearSet = alphSet.clear()
print(clearSet)

None

In [18]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
alphaSet = {1, 2, 3, 4}
remSet= alphaSet.remove(4)
print(alphaSet)

{1, 2, 3}

In [19]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setUnion = set1.union(set2)
print(setUnion)

{1, 2, 3, 4, 5}

In [20]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setIntersect= set1.intersection(set2)
print(setIntersect)

{3}

In [21]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
perDict = {'name':'Sonu', 'age':'26', 'city':'Nashik'}
print(perDict)

{'name': 'Sonu', 'age': '26', 'city': 'Nashik'}

In [22]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
perDict = {'name':'Sonu', 'age':'26', 'city':'Nashik'}
perDict['Country']='USA'
print(perDict)

{'name': 'Sonu', 'age': '26', 'city': 'Nashik', 'Country': 'USA'}

In [23]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
perDict = {'name':'Sonu', 'age':'26', 'city':'Nashik'}
perDict['Country']='USA'
print(perDict)

{'name': 'Sonu', 'age': '26', 'city': 'Nashik', 'Country': 'USA'}

In [24]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
bobdict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
remDic = bobdict.pop('age')
print(remDic)
print(bobdict)

22
{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
nameDict = {'name': 'Alice', 'city': 'Paris'}
doExist = 'city' in nameDict
print(doExist)

True

In [26]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
exList=['Jyoti','Anjali','Ruchi']
exTuple=('Komal','Priti','Priyanka')
exDict={'Name':'Komal','Age':'24','Relation':'wife'}
print(exList)
print(exTuple)
print(exDict)

['Jyoti', 'Anjali', 'Ruchi']
('Komal', 'Priti', 'Priyanka')
{'Name': 'Komal', 'Age': '24', 'Relation': 'wife'}

In [27]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[1, 45, 63, 87, 100]

In [29]:
#28.Write a code to create a list with strings and print the element at the third index.
strList=['Sonal','Anjali','Reshma','Tara','Shivani']
thirdIndex=strList[4]
print(thirdIndex)

Shivani

In [32]:
#29. Write a code to combine two dictionaries into one and print the result.
Dict1={'Name':'Shivani','Age':'27','Relation':'wife'}
Dict2={'MarriageDate':'10/03/2033'}
combDict={**Dict1,**Dict2}
print(combDict)

{'Name': 'Shivani', 'Age': '27', 'Relation': 'wife', 'MarriageDate': '10/03/2033'}

In [33]:
#30.Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}